.calculator {
  padding: 0 1rem;
}

.calculator ul {
  list-style-type: none;
}

.calculator > ul > li {
  margin-top: 3rem;
}

.calculator input {
  margin: 0;
}

.radio-picker span {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
}

.radio-picker input {
  position: absolute;
  display: none;
  top: -9999px;
  left: -9999px;
}

.radio-picker input:checked ~ span {
  background-color: #c9dac8;
}

.variants-variants li {
  display: flex;
}

.variants-variants li > i {
  min-width: 80px;
  padding: 5px 10px 5px 0;
}

.products table {
  margin-left: 3rem;
}

.products td {
  border: 0;
  padding: 0.5rem 0 0.5rem;
}

.products label {
  padding: 5px 10px;
  border: 1px solid #eee;
  cursor: pointer;
}

.products input {
  margin-right: 10px;
}

.variants {}

.variants-products {}

.variants-products > li {
  border-bottom: 1px solid #eee;
}

.variants-products > li:last-child {
  border: 0;
}

.variants-variants input {
  width: 60px;
  padding: 2px 6px;
}

.variants-variants input {
  margin-right: 10px;
}

.calculator-total-price {}

.transcript {
  margin-top: 4rem;
}

.transcript-details {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 7px;
}
