body {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  margin-bottom: 2rem;
}

.header .logo {
  margin: 1.7rem 0 0;
  width: 100%;
  max-width: 320px;
}

.menu-box {
  position: relative;
}

.languages-switch {
  position: absolute;
  right: 0;
  top: 0.7rem;
  display: flex;
}

.languages-switch {
  list-style-type: none;
}

.languages-switch > li {
  margin: 0;
}

.languages-switch > li > a {
  color: #000;
  text-decoration: none;
}

.languages-switch > li > span {
  font-weight: 600;
}

.languages-switch > li > span,
.languages-switch > li > a {
  padding: 1rem 0.6rem;
}

.languages-switch > li > a:hover {
  text-decoration: underline;
}

.top-menu ul {
  margin: 4rem 0 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.top-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.top-menu li a {
  color: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

.top-menu li.active a,
.top-menu li a:hover {
  text-decoration: underline;
}

@media (max-width: 550px) {
  .top-menu li {
    margin-bottom: 0.4rem;
  }
}

.landing .home-image-box {
  overflow: hidden;
  line-height: 0;
  position: relative;
}

.landing .description {
  margin: 2.5rem 0;
  text-align: center;
  padding: 0 1rem;
  font-size: 2rem;
}

.landing .description.narrow {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.categories .main-flex {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.categories .main-flex > div {
  box-sizing: border-box;
  width: 50%;
  padding-bottom: 0.5rem;
}

.categories .main-flex > div:nth-child(2n+1) {
  padding-right: 0.5rem;
}

.categories .main-flex > div:nth-child(2n) {
  padding-left: 0.5rem;
}

@media (max-width: 550px) {
  .categories .main-flex > div {
    width: 100%;
  }
}

.categories .image {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.categories a {
  color: inherit;
  text-decoration: none;
}

.categories .columns h4 {
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.categories .columns a:hover h4 {
  text-decoration: underline;
}

.categories .columns .description {
  text-align: center;
  padding: 0 1rem;
}

.categories .printables-image {
  background-position: 0% 0%;
  transition: background-position ease-in-out 1s;
}

.categories .columns a:hover .printables-image {
  background-position: 0% 100%;
}

.printables .columns .description {
  margin-bottom: 2.5rem;
}

.item .description {
  margin-top: 2rem;
  padding: 0 1rem;
}

.item table tr td:first-child {
  text-align: right;
  font-weight: 600;
}

.item .picture .columns {
  position: relative;
}

.item .back-link {
  position: absolute;
  top: 0;
  left: -5rem;
  z-index: 1000;
}

.item .back-link svg {
  width: 2.7rem;
  height: 2.7rem;
  color: #555;
  filter: drop-shadow(0 0 3px #fff);
  -webkit-filter: drop-shadow(0 0 3px #fff);
}

@media (max-width: 550px) {
  .item .back-link {
    top: 1rem;
    left: 1rem;
  }
}

.contact .form {
  margin-top: 1.5rem;
}

@media (max-width: 550px) {
  .contact .form {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.contact .form .button {
  margin-right: 1rem;
}

.contact .form .msg-success {
  display: none;
  color: #29A668;
}

.contact .form .msg-error {
  display: none;
  color: #c00;
}

.items {
  margin-top: 1.5rem;
}

.items .columns {
  display: flex;
  flex-wrap: wrap;
}

.items .item-box {
  box-sizing: border-box;
  width: 100%;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .items .item-box {
    width: 50%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .items .item-box {
    width: 33.333333%;
  }
}

.items .item-content {
  padding: 0.5rem 1rem;
}

.items .item-content a:hover img {
  opacity: 0.6;
}

.icon {
  display: inline-block;
  width: 2.3rem;
  height: 2.3rem;
  fill: currentColor;
  color: #999;
}

.footer .links {
  width: 18rem;
  margin: 2rem auto 1rem;
  box-sizing: border-box;
}

.footer .links a {
  text-decoration: none;
  margin-right: 1rem;
}

@media (max-width: 550px) {
  .footer .links {
    width: 22rem;
  }

  .footer .links a {
    margin-right: 2rem;
  }
}

.footer .links a:last-child {
  margin: 0;
}

.icon-facebook2:hover {
  color: #3B5DA5;
}

.icon-instagram:hover {
  color: #885A4C;
}

.icon-behance:hover {
  color: #0061FF;
}

.icon-freepik:hover {
  color: #286EBB;
}

.icon-tumblr:hover {
  color: #36465D;
}

.about .description {
  text-align: left;
}

.about .partners {
  margin-bottom: 25px;
}

.about .partners > h3 {
  margin-bottom: 2px;
}

.about .partners > p {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.about .partners .partner {
  display: inline-block;
  margin: 0.5rem 0.5rem;
}

.about h4,
.about h5 {
  color: #777;
}

.about h4 {
  margin-top: 2rem;
}

.space-after {
  margin-bottom: 4rem;
}

/**
 * Slider
 * see csslider.css file
 */

.csslider .shop {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.csslider .shop a {
  color: #777;
  padding: 20px 30px;
  font-size: 25px;
  background-color: rgba(255,255,255,0.7);
  z-index: 11;
  transition: background-color 0.15s;
  text-decoration: none;
}

.csslider .shop a:hover {
  background-color: rgba(255,255,255,1.0);
  text-decoration: underline;
}
