<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {{if .IsHome }}
    <title>{{ .Title }}</title>
    <meta property='og:title' content="{{ .Title }}">
    <meta property="og:type" content="website">
    {{ else }}
      {{ if eq .Section "item" }}
      <title>Item {{ .Title }} - {{ .Site.Title }}</title>
      <meta property='og:title' content="Item #{{ .Title }} - {{ .Site.Title }}">
      {{ else }}
      <title>{{ .Title }} - {{ .Site.Title }}</title>
      <meta property='og:title' content="{{ .Title }} - {{ .Site.Title }}">
      {{ end }}
      <meta property="og:type" content="article">
    {{ end }}

    <meta property="og:url" content="{{ .Permalink }}">

    {{if .IsHome }}
    <meta name="description" content="{{ i18n "home_text" }}">
    <link rel="stylesheet" href="/css/csslider.css">
    {{ else }}
    <meta name="description" content="{{ truncate 400 .Content }}">
    {{ end }}

    {{ if (eq .Section "category") }}
    <meta property="og:image" content="{{ $.Site.BaseURL }}images{{ .RelPermalink }}thumbnail.jpg">
    {{ else if (eq .Section "item") }}
    <meta property="og:image" content="{{ $.Site.BaseURL }}images{{ .RelPermalink }}thumbnail.jpg">
    {{ else if .IsHome }}
    <meta property="og:image" content="{{ $.Site.BaseURL }}images/home/main.jpg">
    {{ else }}
    <meta property="og:image" content="{{ $.Site.BaseURL }}images{{ .RelPermalink }}main.jpg">
    {{ end }}

    {{ if .IsHome }}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ $.Site.BaseURL}}",
      "logo": "{{ $.Site.BaseURL}}images/logo.png",
      "name": "{{ .Title }}",
      "sameAs": [
        "https://www.facebook.com/{{ $.Site.Params.facebook }}",
        "https://www.instagram.com/{{ $.Site.Params.instagram }}",
        "https://www.behance.net/{{ $.Site.Params.behance }}",
        "https://www.freepik.com/{{ $.Site.Params.freepik }}",
        "https://{{ $.Site.Params.tumblr }}.tumblr.com/"
      ]
    }
    </script>
    {{ end }}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.png" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,600">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="header row">
      <div class="four offset-by-one columns">
        <a href="/">
          <img src="/images/logo.png" alt="{{ .Site.Title }} logo" class="logo" />
        </a>
      </div>

      <div class="five offset-by-one columns menu-box">
        <div class="languages-switch">
          <li>
            <span>{{ .Site.Language }}</span>
          </li>
          {{ range .Translations }}
          <li>
            |<a href="{{ .Permalink }}">{{ .Lang }}</a>
          </li>
          {{ end }}
        </div>
        <nav class="top-menu">
          <ul>
            {{- $currentPage := . -}}
            {{ range .Site.Menus.main -}}
            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
              <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
            {{- end }}
          </ul>
        </nav>
      </div>
    </header>
