{{ partial "header.html" . }}

<section class="landing row">
  <div class="ten offset-by-one columns calculator" id="calculator">
    <h2>{{ i18n "calculator_title" }}</h2>

    <div class="description">
      {{ i18n "calculator_desc" | safeHTML }}
    </div>

    <ul>
      <li>
        <radio-picker
          label="{{ i18n "calculator_design_type_title" }}"
          index="1"
          :options="designTypes.options"
          description="{{ i18n "calculator_design_type_desc" }}"
          v-model="designTypes.picked">
        </radio-picker>
      </li>

      <li>
        <products
          label="{{ i18n "calculator_products_title" }}"
          index="2"
          :options="products.options"
          :design-price-total="designPriceTotal"
          description="{{ i18n "calculator_products_desc" }}"
          @input="toggleProduct($event)">
        </products>
      </li>

      <li>
        <variants
          label="{{ i18n "calculator_variants_title" }}"
          index="3"
          :picked-products="products.picked"
          :price="printingPrice"
          :price-total="printingPriceTotal"
          description="{{ i18n "calculator_variants_desc" }}"
          price-text="{{ i18n "calculator_printing_price" }}"
          @input="chooseVariant($event)">
        </variants>
      </li>

      <li>
        <variants
          label="{{ i18n "calculator_additional_products_title" }}"
          index="4"
          :picked-products="additionalProducts.options"
          :price="additionalProductsPrice"
          :price-total="additionalProductsPriceTotal"
          price-text="{{ i18n "calculator_additional_products_price" }}"
          :additional="true"
          @input="chooseAdditionalProduct($event)">
        </variants>
      </li>

      <li>
        <radio-picker
          label="{{ i18n "calculator_delivery_title" }}"
          index="5"
          :options="delivery.options"
          :total-price="deliveryPriceTotal"
          price-text="{{ i18n "calculator_delivery_price" }}"
          description="{{ i18n "calculator_delivery_desc" }}"
          v-model="delivery.picked">
        </radio-picker>
      </li>
    </ul>

    <div class="calculator-total-price">
      <b>{{ i18n "calculator_total_price" }}: ~${totalPrice} EUR</b>
    </div>

    <div class="calculator-price-description">
      {{ i18n "calculator_total_price_desc" }}
    </div>

    <transcript
        :picked-design="designTypes.picked"
        :design-price-total="designPriceTotal"
        :picked-products="products.picked"
        :printing-price-total="printingPriceTotal"
        :picked-variants="variants.picked"
        :additional-products-price-total="additionalProductsPriceTotal"
        :additional-products="additionalProducts.picked"
        :picked-delivery="delivery.picked"
        :delivery-price-total="deliveryPriceTotal"
        :total-price="totalPrice"
    ></transcript>
  </div>
</section>

<script type="text/x-template" id="radio-picker-template">
  <div class="radio-picker">
    <h4>${ index }. ${ label }: </h4>

    <ul>
      <li v-for="option in options">
        <label>
          <input
            type="radio"
            :name="label"
            :value="option"
            :checked="option === value"
            @click="$emit('input', $event.target.value)" />
          <span>${ option }</span>
        </label>
      </li>
    </ul>

    <div v-if="description" class="radio-picker-description" v-html="description">
    </div>

    <div v-if="priceText" class="radio-picker-total-price">
      <b>${ priceText }: ${ totalPrice } EUR</b>
    </div>
  </div>
</script>

<script type="text/x-template" id="products-template">
  <div class="products">
    <h4>${ index }. ${ label }: </h4>
    <div v-if="description" class="products-description" v-html="description">
    </div>

    <table>
      <tr v-for="option in options">
        <td>
          <label>
            <input
              type="checkbox"
              :name="label"
              :value="option"
              @click="$emit('input', $event.target.value)" />
            ${ option }
          </label>
        </td>
      </tr>
    </table>

    <div class="calculator-total-price">
      <b>{{ i18n "calculator_design_price" }}: ${ designPriceTotal } EUR</b>
    </div>
  </div>
</script>

<script type="text/x-template" id="variants-template">
  <div class="variants">
    <h4>${ index }. ${ label }: </h4>

    <div v-if="description" class="variants-description" v-html="description">
    </div>

    <ul class="variants-products">
      <li v-for="product in pickedProducts">
        <label>${ product }</label>

        <ul class="variants-variants">
          <li v-for="variant, name in variants(product)">
            <i>${ price(product, name) } EUR</i>
            <label>
              <input
                type="number"
                value="0"
                @input="$emit('input', { product: product, variant: name, value: $event.target.value })"
                min="0" />
              ${ name }
            </label>
          </li>
        </ul>
      </li>
    </ul>

    <div class="variants-total-price">
      <b>${ priceText }: ${ priceTotal } EUR</b>
    </div>
  </div>
</script>

<script type="text/x-template" id="transcript-template">
  <div class="transcript">
    <div class="transcript-description">
      {{ i18n "calculator_transcript_title" }}
    </div>

    <div class="transcript-details" v-on:click="selectText">
        <div>
            <b>{{ i18n "calculator_design_type_title" }}:</b> ${ pickedDesign }
        </div>

        <div>
            <b>{{ i18n "calculator_products_title" }}:</b> (${ designPriceTotal } EUR)
            <ul>
                <li v-for="product in pickedProducts">
                    ${ product }
                </li>
            </ul>
        </div>

        <div>
            <b>{{ i18n "calculator_variants_title" }}:</b> (${ printingPriceTotal } EUR)
            <ul>
                <li v-for="variant in pickedVariants">
                    <i>(${ variant.value })</i>
                    ${ variant.product } -
                    ${ variant.variant }
                </li>
            </ul>
        </div>

        <div>
            <b>{{ i18n "calculator_additional_products_title" }}:</b> (${ additionalProductsPriceTotal } EUR)
            <ul>
                <li v-for="variant in additionalProducts">
                    <i>(${ variant.value })</i>
                    ${ variant.product } -
                    ${ variant.variant }
                </li>
            </ul>
        </div>

        <div>
            <b>{{ i18n "calculator_delivery_title" }}:</b> ${ pickedDelivery } (${ deliveryPriceTotal } EUR)
        </div>

        <p>
            <b>{{ i18n "calculator_total_price" }}:</b> ${ totalPrice } EUR
        </p>
    </div>
  </div>
</script>

<script>
 var calculatorConfig = Object.freeze({{ index .Site.Data.calculator .Site.Language.Lang }});
</script>

<!-- development version, includes helpful console warnings -->
<!-- <script src="/js/vue-dev.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="/js/calculator.js"></script>

{{ partial "footer.html" . }}
