{{ partial "header.html" . }}

<section class="categories">
  <div class="ten offset-by-one columns">
    <div class="home-image-box space-after">
      <img src="/images/categories/main.jpg" alt="Portfolio" class="u-max-full-width" />
    </div>
  </div>

  <div class="ten offset-by-one columns main-flex">
    {{ range where .Site.Pages "Section" "category" }}
      {{ if eq .Title "Categories" }}
      {{ else }}
      <div>
        <a href="{{ .Permalink }}" title="{{ .Title }}">
          <div class="image-box">
            <div class="image" style="background-image: url('/images/category/{{ .Params.name }}/thumbnail.jpg')">
            </div>
          </div>

          <h4>{{ .Title }}</h4>
        </a>

        <div class="description">{{ .Content }}</div>
      </div>
      {{ end }}
    {{ end }}
  </div>
</section>

{{ partial "footer.html" . }}
