{{ partial "header.html" . }}

<section class="row landing gallery">
  <div class="ten offset-by-one columns">
    <div class="slider js_slider" id="slider">
      <div class="frame js_frame">
        <ul class="slides js_slides">
          {{ range where .Site.Pages.ByTitle "Section" "item" }}
          <li class="js_slide">
            <img src="/images{{ .RelPermalink}}full.jpg" class="u-max-full-width" />
          </li>
          {{ end }}
        </ul>

        <ul class="navigation">
          <li>
            <svg class="icon slider-btn" id="prev">
              <symbol id="icon-arrow-left2" viewBox="0 0 1024 1024">
                <title>Previous</title>
                <path class="path1" d="M402.746 877.254l-320-320c-24.994-24.992-24.994-65.516 0-90.51l320-320c24.994-24.992 65.516-24.992 90.51 0 24.994 24.994 24.994 65.516 0 90.51l-210.746 210.746h613.49c35.346 0 64 28.654 64 64s-28.654 64-64 64h-613.49l210.746 210.746c12.496 12.496 18.744 28.876 18.744 45.254s-6.248 32.758-18.744 45.254c-24.994 24.994-65.516 24.994-90.51 0z"></path>
              </symbol>
              <use xlink:href="#icon-arrow-left2"></use>
            </svg>
          </li>

          <li>
            <svg class="icon slider-btn" id="next">
              <symbol id="icon-arrow-right2" viewBox="0 0 1024 1024">
                <title>Next</title>
                <path class="path1" d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"></path>
              </symbol>
              <use xlink:href="#icon-arrow-right2"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script src="/js/lory.min.js"></script>
<script>
;(function (w, d) {
  d.addEventListener('DOMContentLoaded', function () {
    var sliderBox = d.querySelector('#slider');
    var prev = d.querySelector('#prev');
    var next = d.querySelector('#next');

    var slider = lory(sliderBox, {
      rewind: true
    });

    var interval;
    startInterval();

    next.addEventListener('click', function () {
      resetInterval();
      slider.next();
    }, false);

    prev.addEventListener('click', function () {
      resetInterval();
      slider.prev();
    }, false);

    function startInterval() {
      interval = setInterval(function () {
        slider.next();
      }, 10000);
    }

    function resetInterval() {
      if(!interval) {
        return;
      }

      clearInterval(interval);
      startInterval();
    }

  });
})(window, document);
</script>

{{ partial "footer.html" . }}
