{% extends "layout.html" %}

{% block content %}
<section class="categories">
    <div class="ten offset-by-one columns main-flex">
        {% for subsection_path in section.subsections %}
        {% set subsection = get_section(path=subsection_path) %}
        <div>
            <a href="{{ subsection.permalink }}" title="{{ subsection.title }}">
                <div class="image-box">
                    {% set_global thumbnails = [] %}
                    {% for asset in subsection.assets %}
                    {% if asset is matching("thumbnail[.](jpg|jpeg|png)$") %}
                    {% set_global thumbnails = thumbnails | concat(with=asset) %}
                    {% endif %}
                    {% endfor %}

                    {% for thumbnail in thumbnails %}
                    {% set path = thumbnail %}
                    {% if path is starting_with(lang ~ '/') %}
                    {# Remove language prefix from image path #}
                    {% set path = thumbnail | split(pat='/') | slice(start=1) | join(sep='/') %}
                    {% endif %}
                    {% set image_700 = resize_image(path=path, width=700, op='fit_width') %}
                    {% set original = resize_image(path=path, width=1500, op='fit_width') %}
                    <img
                        data-srcset="{{ image_700 }} 700w, {{ original }} 1500w"
                        data-sizes="(max-width: 700px) 100vw, 90vw"
                        data-src="{{ original }}"
                        alt="{{ subsection.title }}"
                        class="u-max-full-width lazyload" />
                    {% break %}
                    {% else %}
                    <p style="color: #c00">Missing thumbnail</p>
                    {% endfor %}
                </div>

                <h4>{{ subsection.title }}</h4>
            </a>

            <div class="description">{{ subsection.description }}</div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
