{{ partial "header.html" . }}

<main role="main" class="item">
  <div class="picture row">
    <div class="eight offset-by-two columns">
      <div class="back-link">
        {{ $categories := where .Site.Pages "Section" "category" }}
        {{ $category := where $categories "Params.name" .Params.category }}
        {{ range first 1 $category }}
        <a href="{{ .Permalink }}" title="Back to {{ .Title }}">
          <svg class="icon slider-btn" id="prev">
            <symbol id="icon-arrow-left2" viewBox="0 0 1024 1024">
              <title>Previous</title>
              <path class="path1" d="M402.746 877.254l-320-320c-24.994-24.992-24.994-65.516 0-90.51l320-320c24.994-24.992 65.516-24.992 90.51 0 24.994 24.994 24.994 65.516 0 90.51l-210.746 210.746h613.49c35.346 0 64 28.654 64 64s-28.654 64-64 64h-613.49l210.746 210.746c12.496 12.496 18.744 28.876 18.744 45.254s-6.248 32.758-18.744 45.254c-24.994 24.994-65.516 24.994-90.51 0z"></path>
            </symbol>
            <use xlink:href="#icon-arrow-left2"></use>
          </svg>
        </a>
        {{ end }}
      </div>

      {{ if eq .Lang "en" }}
      <img src="/images{{ .RelPermalink }}full.jpg" alt="{{ .Title }} item" class="u-max-full-width" />
      {{ else }}
      <img src="/images{{ substr .RelPermalink 3 }}full.jpg" alt="{{ .Title }} item" class="u-max-full-width" />
      {{ end }}
    </div>
  </div>

  <div class="description row">
    <div class="eight offset-by-two columns">
      <table class="u-full-width">
        <tbody>
          <tr>
            <td colspan="2" style="text-align: center">{{ .Title }}</td>
          </tr>

          {{ range .Params.specs }}
            <tr>
              <th>{{ .key }}</th>
              <td>{{ .value | safeHTML }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
