{{ partial "header.html" . }}

<section class="row landing">
  <div class="ten offset-by-one columns">
    <div id="slider1" class="csslider infinity inside">
      {{ range $i, $e := .Site.Params.home_slider_images }}
      <input type="radio" name="slides" id="slides_{{ add $i 1 }}" {{if eq $i 0 }} checked{{end}} />
      {{ end }}

      <ul>
        {{ range .Site.Params.home_slider_images }}
        <li>
          <img src="/images/home/slider/{{ . }}" class="u-max-full-width" />
        </li>
        {{ end }}
      </ul>

      <div class="arrows">
        {{ range $i, $e := .Site.Params.home_slider_images }}
        <div>
          <label for="slides_{{ add $i 1 }}"></label>
        </div>
        {{ end }}
      </div>

      <div class="navigation">
        <div>
          {{ range $i, $e := .Site.Params.home_slider_images }}
          <label for="slides_{{ add $i 1 }}"></label>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row landing">
  <div class="ten offset-by-one columns">
    <div class="description">
      <p>{{ .Site.Params.home_text | safeHTML }}</p>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
